option_settings:
  - namespace: AutoScalingScaleDownPolicy.aws:autoscaling:trigger
    LowerBreachScaleIncrement: '-1'
  - namespace: AWSEBAutoScalingScaleUpPolicy.aws:autoscaling:trigger
    UpperBreachScaleIncrement: '1'
  - namespace: AWSEBCloudwatchAlarmHigh.aws:autoscaling:trigger
    UpperThreshold: '6000000'
  - namespace: AWSEBCloudwatchAlarmLow.aws:autoscaling:trigger
    BreachDuration: '5'
    EvaluationPeriods: '1'
    LowerThreshold: '2000000'
    MeasureName: NetworkOut
    Period: '5'
    Statistic: Average
    Unit: Bytes
  - namespace: aws:autoscaling:asg
    Availability Zones: Any
    Cooldown: '360'
    Custom Availability Zones: ''
    MaxSize: '1'
    MinSize: '1'
