files: 
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_init.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      # avoid too many open files error caused by a lot of connections
      # see https://easyengine.io/tutorials/linux/increase-open-files-limit/
      # see http://www.cyberciti.biz/faq/linux-unix-nginx-too-many-open-files/
      #
      # set higher open file limits for each user
      echo "fs.file-max = 1073741824" >> /etc/sysctl.conf
      echo "root       soft    nofile   1048576" >> /etc/security/limits.conf
      echo "root       hard    nofile   33554432" >> /etc/security/limits.conf
      echo "nginx       soft    nofile   1048576" >> /etc/security/limits.conf
      echo "nginx       hard    nofile   33554432" >> /etc/security/limits.conf
      echo "webapp       soft    nofile   1048576" >> /etc/security/limits.conf
      echo "webapp       hard    nofile   33554432" >> /etc/security/limits.conf
      echo "ec2-user       soft    nofile   1048576" >> /etc/security/limits.conf
      echo "ec2-user       hard    nofile   33554432" >> /etc/security/limits.conf
      sed -i 's/worker_connections *[0-9]*/worker_connections  8192/g' /etc/nginx/nginx.conf
      echo "worker_rlimit_nofile 65536;" >> /etc/nginx/nginx.conf
      sed -i 's/minfds=[0-9]*/minfds=1048576/g' /etc/supervisor/conf.d/supervisord.conf
      # enforce limit changes
      sysctl -p
      #ulimit -n 1073741824
      service nginx restart
      # restart processes managed by supervisord
      /usr/local/bin/supervisorctl -c /etc/supervisor/conf.d/supervisord.conf shutdown
      sleep 5
      /usr/local/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf
      /usr/local/bin/supervisorctl -c /etc/supervisor/conf.d/supervisord.conf restart all

