option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: EC2_KEY_NAME
  # Now setup the VPC that our EC2 instances should use
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: VPC_ID
  # Now we setup a subnet for our VPC ec2 instances to use
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: INSTANCES_SUBNET_NAME
  # And another subnet for our ELB
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: ELB_SUBNET_NAME
  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true
  # Now set the instance type we want to use for autoscaling
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: c4.large
  # And setup a security group for NAT
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: NAT_SECURITY_GROUP
